body{
    font-family: 'Roboto', sans-serif;
    h1{
        font-family: "Oswald", sans-serif;
        font-weight: 300;
    }
    h2{
        font-family: "Oswald", sans-serif;
        font-weight: 400;
        color: #37cfa2;
        font-size: 40px;
        text-transform: uppercase;
    }
    h3{
        font-family: "Oswald", sans-serif;
        font-weight: 400;
        text-transform: uppercase;
    }
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.section{
    padding-bottom: 40px;
}

.section_intro{
    padding: 40px 0;
    p{
        color: gray;
        font-size: 1.3em;
        width: 50%;
        line-height: 1.6;
    }
}

//MENU

header{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    border-bottom: 1px solid  rgba(255, 255, 255, 0.5);
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.logo{
    h1 a{
        color: white;
        text-decoration: none;
        text-transform: uppercase;
    }
}

.nav_wrap{
    width: 40%;
}

nav{
    height: 100%;
    
    ul{
        margin: 0;
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        font-family: "Oswald", sans-serif;
        font-weight: 300;
        li a{
            color: rgba(255, 255, 255, 0.5);
            text-decoration: none;
            text-transform: uppercase;
            transition: .3s all ease;
            &:hover{
                color: white;
            }
        }
    }
}

//MENU END


//HERO

.hero{
    height: 100vh;
    width: 100%;
    background-color: grey;
}

.swiper_text_wrap{
    max-width: 40%;
    text-align: center;
    color: white;
    z-index: 2;
    margin-top: 50px;

    h1{
        font-size: 3em;
        text-transform: uppercase;
    }
    p{
        font-size: 1.2em;
        line-height: 1.5;
        margin-bottom: 60px;
        padding: 0 20px;
    }
}

.btn{
    background: #37cfa2;
    border-color: #37cfa2;
    color: #fff;
    padding: 15px 30px;
    font-size: 1em;
    border-radius: 4px;
    text-decoration: none;
    transition: .3s all ease;
    &:hover{
        background: black;
    }
}

.swiper-slide, .swiper-container{
    height: 100%;
    width: 100%;
}

.swiper-slide::before{
    z-index: 1;
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
}

.swiper_content_background{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-position: center center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper_content_wrap_1{
    background-image: url(/../img/hero_1.jpg);
}
.swiper_content_wrap_2{
    background-image: url(/../img/hero_2.jpg);
}

.swiper-pagination-bullet{
    opacity: 1 !important;
    width: 15px !important;
    height: 15px !important;
    background-color: #0000 !important;
    border: 2px solid white !important;
}
.swiper-pagination-bullet-active{
    background: #37cfa2 !important;
    border: none !important;
    
}

.swiper-pagination{
    bottom: 60px !important;
}

//HERO END



//HOUSES

.houses_wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.house{
    width: 30%;
    position: relative;

    img{
            max-width: 100%;
    }
    p{
        color: #939393;
    }
}

.house > .house_content:after {
    position: absolute;
    content: "";
    right: 0px;
    bottom: 0px;
    top: 20px;
    background: #000;
    width: 100%;
    z-index: -1;
    transition: .3s all ease-in-out;
    opacity: 0;
    visibility: hidden;
}
.house:hover > .house_content:after, .house:focus > .house_content:after {
    right: -20px;
    bottom: -20px;
    opacity: 1;
    visibility: visible;
}

.house_text{
    padding: 0;
    transition: .3s all ease-in-out;
}

.house_content:hover > .house_text{
    padding-left: 40px;
    
    h3{
        color: white;
    }
}
//HOUSES END



//AGENTS

.agents_wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.agent{
    width: 30%;
    position: relative;
}

.agent_photo{
    overflow: hidden;
    img{
        max-width: 100%;
        height: auto;
        display: block;
        transition: .3s all ease-in-out;
    }
}

.agent_photo:hover > img{
    transform: scale(1.1);
}



.agent_description{
    background-color: #37cfa2;
    padding: 15px;
    h3{
        margin: 0;
        font-size: 1.5em;
    }
    p{
        margin: 15px 0 0 0;
        font-size: 1.2em;
    }
}

//AGENTS END



//HOW

#how{
    background-color: #37cfa2;
    h2{
        color: black;
        text-align: center;
    }   
}


//HOW END

//NEWS

#news{
    h2{
        color: #37cfa2;
        text-align: center;
    }   
}

.news_wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.news{
    width: 30%;
    position: relative;
}

.news_photo{
    overflow: hidden;
    img{
        max-width: 100%;
        height: auto;
        display: block;
    }
}
//NEWS END