body{
    font-family: 'Roboto', sans-serif;
    h1{
        font-family: "Oswald", sans-serif;
        font-weight: 300;
    }
    h2{
        font-family: "Oswald", sans-serif;
        font-weight: 400;
        color: #37cfa2;
        font-size: 40px;
    }
}


//MENU

.menu{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 10px 20vw;
    border-bottom: 1px solid  rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    z-index: 100;

}

.logo{
    h1 a{
        color: white;
        text-decoration: none;
        text-transform: uppercase;
    }
}

.nav_wrap{
    width: 40%;
}

nav{
    height: 100%;
    
    ul{
        margin: 0;
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        font-family: "Oswald", sans-serif;
        font-weight: 300;
        li a{
            color: rgba(255, 255, 255, 0.5);
            text-decoration: none;
            text-transform: uppercase;
            transition: .3s all ease;
            &:hover{
                color: white;
            }
        }
    }
}

//MENU END


//HERO

.hero{
    height: 100vh;
    width: 100vw;
    background-color: grey;
}

.swiper_text_wrap{
    max-width: 40%;
    text-align: center;
    color: white;
    z-index: 2;
    margin-top: 50px;

    h1{
        font-size: 3em;
        text-transform: uppercase;
    }
    p{
        font-size: 1.2em;
        line-height: 1.5;
        margin-bottom: 60px;
        padding: 0 20px;
    }
}

.btn{
    background: #37cfa2;
    border-color: #37cfa2;
    color: #fff;
    padding: 15px 30px;
    font-size: 1em;
    border-radius: 4px;
    text-decoration: none;
    transition: .3s all ease;
    &:hover{
        background: black;
    }
}

.swiper-slide, .swiper-container{
    height: 100%;
    width: 100%;
}

.swiper-slide::before{
    z-index: 1;
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
}

.swiper_content_background{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-position: center center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper_content_wrap_1{
    background-image: url(/../img/hero_1.jpg);
}
.swiper_content_wrap_2{
    background-image: url(/../img/hero_2.jpg);
}

.swiper-pagination-bullet{
    opacity: 1 !important;
    width: 15px !important;
    height: 15px !important;
    background-color: #0000 !important;
    border: 2px solid white !important;
}
.swiper-pagination-bullet-active{
    background: #37cfa2 !important;
    border: none !important;
    
}

.swiper-pagination{
    bottom: 60px !important;
}

//HERO END