//HEADER

#single_news_hero{
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-position: center center;
    
    &::before{
        z-index: 1;
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.4);
    }
    .wrapper{
        height: 100%;
    }
    a{
        border-bottom: 1px solid white;
    }
}

.hero_single_text{
    
    
    p{
        letter-spacing: 5px;
        font-weight: 200;
    }
    a{
        color: white;
        text-decoration: none;
    }
}
//HEADER END

//bottom
#news_single{
    padding: 100px 0;
    .wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        color: gray;
    }
    .left{
        width: 68%;
        @media screen and (max-width:768px) {
            width: 100%;
            margin-bottom: 50px;
        }
        a{
            text-decoration: none;
            color: #37cfa2;
        }
        span{
            font-size: 1.3em;
            font-weight: 300;
            line-height: 1.5;
        }
        p{
            font-size: 1em;
            font-weight: 400;
            line-height: 1.5;
        }
    }
    .right{
        width: 28%;
        @media screen and (max-width:768px) {
            width: 100%;
            margin-bottom: 50px;
            padding: 35px;
        }
        h3{
            margin-top: 0;
            font-size: 1.3em;
            font-weight: 200;
        }
        p{
            color: gray;
            margin-bottom: 30px;
            line-height: 1.8;
        }
    }
}

.input_wrap{
    background: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
}

.input_form{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #f7f7f7;
    outline: none;
    padding: 5px,;
    &:focus{
        border-color: #37cfa2!important;
    }
}

.news_author{
    padding-top: 30px;
    .author_head{
        img{
            width: 100%;
            margin-bottom: 20px;
        }
        h3{
            margin: 0;
        }
        p{
            margin: 0;
            font-weight: 100;
            font-size: 0.8em;
            text-transform: uppercase;
        }
    }
}

.news_footer{
    padding-top: 50px;
}
//BOTTOM END