//Menu Mobile
.visible{
    right: 0!important;
}

.nav_wrap_mobile{
    display: none;
    position: fixed;
    height: 100vh;
    width: 300px;
    right: -400px;
    top: 0;
    background: white;
    padding: 50px;
    z-index: 1501;
    transition: .3s all ease-in-out;
    .close_mobile{
        position: absolute;
        top: 10px;
        right: 40px;
        font-size: 1.5em;
        color: grey;
    }
    nav{
        ul{
            flex-direction: column;
            justify-content: flex-start;
            align-items: start;
            li{
                margin: 20px 0;
            }
            a{
                color: black;
                text-transform: none;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                &:hover{
                    color: black;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    #toggleMenu {
        position: absolute;
        z-index: 1500;
        width: 40px;
        height: 40px;
        right: 20px;
        border-radius: 10px;
        cursor: pointer;
        overflow: hidden;
    }
    #toggleMenu div {
        width: 25px;
        height: 3px;
        background: white;
        border-radius: 5px;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: 0.3s all ease-in-out;
        transition: 0.3s all ease-in-out;
    }
    #toggleMenu div:last-child {
        top: 30%;
    }
    #toggleMenu div:first-child {
        top: 70%;
    }
    .nav_wrap_mobile{
        display: block;
    }
    .nav_wrap{
        display: none;
    }
}


//Menu Mobile END